Web References/OrderTracker/OrderTracker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OrderTracker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderTrackerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderTrackerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OrderTrackerSoapIn">
    <wsdl:part name="parameters" element="tns:OrderTracker" />
  </wsdl:message>
  <wsdl:message name="OrderTrackerSoapOut">
    <wsdl:part name="parameters" element="tns:OrderTrackerResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderStatusSoap">
    <wsdl:operation name="OrderTracker">
      <wsdl:input message="tns:OrderTrackerSoapIn" />
      <wsdl:output message="tns:OrderTrackerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderStatusSoap" type="tns:OrderStatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrderTracker">
      <soap:operation soapAction="http://tempuri.org/OrderTracker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderStatusSoap12" type="tns:OrderStatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrderTracker">
      <soap12:operation soapAction="http://tempuri.org/OrderTracker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderStatus">
    <wsdl:port name="OrderStatusSoap" binding="tns:OrderStatusSoap">
      <soap:address location="http://localhost:2285/OrderTracker.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderStatusSoap12" binding="tns:OrderStatusSoap12">
      <soap12:address location="http://localhost:2285/OrderTracker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>